.link {
	color: #fff;
}
#title {
	font-family: Georgia, "Times New Roman", Times, serif;
}
* {
	font-family: serif;
	font-size: 18px;
}

.link:hover {
	color: #fff;
}
.margin {
	margin-left: 400px;
}

#login .row {
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

#login #logo {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#login img {
	width: 150px;
}

