#name {
	border-radius: 50px;
}
#email {
	border-radius: 50px;
}
#password {
	border-radius: 50px;
}
#url {
	border-radius: 50px;
}
#btn {
	border: solid 1px success;
	border-radius: 50px;
}
#link {
	color: #fff;
}
#link:hover {
	color: #fff;
}
.margin {
	margin-left: 400px;
}
